{{outlet}}
<h5> Hello </h5>
<ul>
	{{#each model as |author|}}
		<li>{{author.nickname}}</li>
	{{else}}
		<li> No Authors Registered.</li>
	{{/each}}
</ul>

<h4>Create Author</h4>
<form {{action 'postAuthor' on='submit'}}>
	<p>{{input type="text" value=nickname}}<button>Create</button></p>
</form>
